<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showTodoDetails(item)">
      {{ item.title }}
      <div class="item-date" item-end>
        {{ item.date }}  - {{ item.time }}      
      </div>   
    </button>
  </ion-list>
  <div *ngIf="selectedItem">
    You navigated here{{item.title}}from <strong>{{ selectedItem.title}}</strong>
  </div>
</ion-content>
